# Configuration de la base de données Supabase
# Ces valeurs doivent être récupérées depuis votre tableau de bord Supabase
# Paramètres -> API

VITE_SUPABASE_URL=votre_url_supabase_ici
VITE_SUPABASE_ANON_KEY=votre_cle_anon_publique_ici

# Firebase Configuration
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_DATABASE_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_ADMIN_EMAIL=sokuna23@gmail.com
